myenv/lib/python3.12/site-packages/tensorflow/libtensorflow_cc.2.dylib
myenv/lib/python3.12/site-packages/tensorflow/libtensorflow_cc.2.dylib


# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.Python

# Environment folders
.venv/
venv/

# Mac system files
.DS_Store

# Git files
.git
.gitignore

# Logs and temp
*.log
*.tmp

# Node (if ever used)
node_modules/
npm-debug.log

# Docker ignore patterns (already handled separately in .dockerignore)
.dockerignore

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfstate.d/

# VS Code or JetBrains IDE settings
.vscode/
.idea/

# OPTIONAL: Keep models and configs
# DO NOT IGNORE these — they are needed for app to work
# fruit_recognizer.pkl
# ripeness.h5
# user_data.sh

venv/
myenv/
*.dylib
.terraform/
.terraform/
**/site-packages/
