# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.Python

# Virtual environments
.venv/
venv/
myenv/

# Site-packages (prevents LFS from tracking TensorFlow/numpy files)
**/site-packages/

# Mac system files
.DS_Store

# Git
.git
.gitignore

# Logs and temp
*.log
*.tmp

# Node
node_modules/
npm-debug.log

# Docker
.dockerignore

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfstate.d/

# IDEs
.vscode/
.idea/

# Large native files (TensorFlow dylibs)
*.dylib

# DO NOT IGNORE these – needed for app to run

!user_data.sh

## im ignoring this to chekc if error gets solved 

*.tar
*.zip
*.h5
*.pkl
*.pt
__pycache__/