apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: therabot-h3-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: therabot-k3s
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource: 
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70 